html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, ol, ul, li, label, table, menu, nav, section, article, summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  margin: 0;
  font-family: NanumGothic, sans-serif;
  font-size: .75em;
  color: #666;
  line-height: 1;
}

p {
  text-align: center;
}

hgroup {
  padding-top: 80px;
}

ul {
  display: block;
  list-style-type: disc;
}

ol, ul {
  list-style: none;
}

li {
  display: list-item;
}

div {
  display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

p.title a {
  font-size: 2.4em;
  color: #fff;
}

p.subtitle small {
  color: #a3bfdb;
  font-size: 1.1em;
  padding: 0 10px;
}

a:-webkit-any-link {
  text-decoration: none;
}

p.subtitle {
  padding : 8px 0;
}
#whole_wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

#left_nav {
  color: #999;
  position: absolute;
  left: 10px;
  top: 0;
  font-size: 12px;
  padding-left: 5px;
  z-index: 1000;
}

#left_nav>li {
  float: left;
  margin-right: 1.5em;
  margin-top: 1.3em;
}

#left_nav #to_home {
  padding-right: .5em;
  font-size: 1.1em;
  margin-top: .9em;
}

#left_nav #to_home a {
  color: #ccc;
  text-indent: inherit;
  width: inherit;
  height: 20px;
  line-height: 20px;
  font-family: verdana !important;
}

#left_nav #to_home a span {
  color: #2ecc71;
}

#right_nav {
  padding-top: 4px;
  position: absolute;
  right: 14px;
  top: 0;
  z-index: 1000;
  height: 35px;
  line-height: 12px;
}

#right_nav>ul>li {
  display: block;
  float: right;
  position: relative;
  height: 35px;
  line-height: 35px;
}

#right_nav>ul>li>a {
  color: #ccc;
  cursor: pointer;
  display: block;
  font-size: 12px;
  height: 35px;
  line-height: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

#whole_wrapper>.head {
  background-color: #4d6c8b;
}

#whole_wrapper>.head nav#main_menu>div.wrapper>ul {
  padding: 1.2em;
  text-align: center;
}

.wrapper li {
  color: #ddd;
  font-size: 1.2em;
  border-left: 1px solid #666;
}

.sub_nav>li {
  display: inline-block;
  padding : 10px 15px;
  z-index : 12;
  position: relative;
}

#breadcrumb {
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}

#breadcrumb>.wrapper {
  width: 980px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  position: relative;
  vertical-align: middle;
}

#breadcrumb_line {
  padding-left: 15px;
  color: #999;
}
